<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd" xmlns:util="http://www.springframework.org/schema/util">
    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/config.properties" />
    
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">        
        <property name="locations" value="/WEB-INF/config.properties"/>
    </bean>
    
    <bean id="dataSource" 
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" />
    
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource"></ref>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/nlpp/domain/Category.hbm.xml</value>
                <value>com/nlpp/domain/Comment.hbm.xml</value>
                <value>com/nlpp/domain/EmailRecieverEventCategory.hbm.xml</value>
                <value>com/nlpp/domain/EnrollEvent.hbm.xml</value>
                <value>com/nlpp/domain/Events.hbm.xml</value>
                <value>com/nlpp/domain/Person.hbm.xml</value>
            </list>
        </property>
    </bean>
    
    <!--HIBERNATE TRANSACTION MANAGER(JTA)-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!--DAO(Data access Object) for Application-->
    <bean id="categoryDAO" class="com.nlpp.dao.CategoryDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="eventsDAO" class="com.nlpp.dao.EventsDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="enrollEventDAO" class="com.nlpp.dao.EnrollEventDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="personDAO" class="com.nlpp.dao.PersonDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="commentDAO" class="com.nlpp.dao.CommentDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="emailRecieverEventCategoryDAO" class="com.nlpp.dao.EmailRecieverEventCategoryDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!--BO(Bussiness Object) for Application-->
    <bean id="categoryBO" class="com.nlpp.bo.CategoryBO">
        <property name="categoryDAO" ref="categoryDAO" />
    </bean>
    <bean id="eventsBO" class="com.nlpp.bo.EventsBO">
        <property name="eventsDAO" ref="eventsDAO" />
    </bean>
    <bean id="personBO" class="com.nlpp.bo.PersonBO">
        <property name="personDAO" ref="personDAO" />
    </bean>
    <bean id="enrollEventBO" class="com.nlpp.bo.EnrollEventBO">
        <property name="enrollEventDAO" ref="enrollEventDAO" />
    </bean>
    <bean id="emailRecieverEventCategoryBO" class="com.nlpp.bo.EmailRecieverEventCategoryBO">
        <property name="emailRecieverEventCategoryDAO" ref="emailRecieverEventCategoryDAO" />
    </bean>
    <bean id="commentBO" class="com.nlpp.bo.CommentBO">
        <property name="commentDAO" ref="commentDAO" />
    </bean>

    <!--Wraps manager in order to support transactions.-->
    <bean id="managerCategory" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="categoryBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="mCategory" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="categoryBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="managerEvents" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="eventsBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>

    <bean id="managerEmail" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="emailRecieverEventCategoryBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>

    <bean id="managerPerson" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="personBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="managerEnrollEvent" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="enrollEventBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="pEnrollEvent" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="personBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="managerComment" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="commentBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="managerEmailReciever" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
        <property name="target">
            <ref local="emailRecieverEventCategoryBO"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
</beans>
